.banners {
    width: 100%;
    /* object-fit: cover; */
    height: auto;
}

.cadeado {
    width: 100%;
    /* object-fit: cover; */
    height: auto;
}

.produto {
    width: 100%;
    /* object-fit: cover; */
    height: auto;
    border: 1px solid #dee2e6;
    padding: 5px;
    border-radius: 5px;
}

.img50px {
    width: 50px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    background-color: #F6F6F6;
}

.col {
    background-color: white;
}

.fundo_branco {
    background-color: white;
}

.notify-badge {
    position: absolute;
    right: 2px;
    top: 2px;
    background: #dc3545;
    font-size: 20px;
    color: white;
    border-radius: 100%;
    padding-top: 0px;
    cursor: pointer;
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.outerLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

.outerLoader p {
    color: #337AB7;
    margin-left: 50px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.pad {
    position: relative;
    right: -85px;
    top: 35px;
    width: 50px;
    height: 50px;
    color: #337AB7;
}

.fixed-top {
    /* padding: 25px 0; */
    background: #fd0001;
    display: block;
    position: inherit;
    margin-bottom: 0px !important;
}

.fixed-top p {
    position: relative;
    color: #ffffff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#etapas div {
    float: left;
    border: 0;
    margin: 0 5px;
    padding: 7px 0px;
    width: 50px;
    text-align: center;
    height: 40px;
}

.numero {
    font-weight: bold;
    font-size: 21px;
    color: #000;
    background: #f5f5f5;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}

#legenda div {
    float: left;
    font-size: 11px;
    text-align: center;
    margin: 0 5px;
    width: 50px;
    color: #ffffff;
}

.btn-comprar {
    width: 240px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.efeito {
    padding: 9px 10px 8px;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #aeaeae;
    position: relative;
    background-image: none !important;
    cursor: pointer;
    text-decoration: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}

.box {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 25px;
    padding-bottom: 25px;
}

.prdct-name li {
    list-style-type: none;
}
.prdct-name ul{
    padding: 0;
}

.prdcts_cart {
    padding: 5px;
}